<script type="text/ng-template" id="audit.html">
    
    <p><a href="" class="btn btn-default btn-lg" ui-sref="^.subscriptiondetails({id: id})">Back</a></p>
    <p>&nbsp;</p>

    <h1>Subscription History</h1>
    
    <table class="table table-condensed text-left" infinite-scroll="nextPage()">
        <thead>
            <tr>
                <th>Log Path</th>
                <th>Line</th>
                <th>Pattern Match</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="i in items">
                <td><span ng-bind="i.logPath | limitTo: 50" title="{{i.logPath}}"></span></td>
                <td><span ng-bind="i.line"></span></td>
                <td><span ng-bind="i.match"></span></td>
                <td><span ng-bind="i.created | limitTo: 10" title="{{i.created | limitTo: 19}}" class="text-nowrap"></span></td>
            </tr>
        </tbody>
    </table>

    <div loader loader-if="isLoading"></div>

    <p ng-if="items.length == 0 && !isLoading"><i>There are no records yet.</i></p>

</script>