

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel page-container">
            <div class="panel-heading"></div>
            <div class="panel-body text-center">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>

@section TitleBinding { ng-bind="pageTitle" }

@section scripts {
    @Scripts.Render("~/bundles/app")
}

@Html.Partial("_Subscriptions")
@Html.Partial("_Audit")